<%- include('header'); -%>
<h2>This is the About page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatum quaerat nostrum laboriosam voluptatibus harum, non quod est hic corporis pariatur, alias iste eum expedita delectus modi eos. Sapiente, suscipit.</p>
<%- include('footer'); -%>
