body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 0 auto 0 auto;
    font-size: 90px;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat';
}

h3 {
    font-family: 'Montserrat';
}

.top-container {
    background-color: #E5E3C9;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: white;
 
}

.bottom-container {
    background-color: white;

}

.top-cloud {
    position: absolute;
    right:300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 300px;
}